.card:hover{
    box-shadow: 0 20px 40px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.button {
    background-color:#FFFFFF;
    border: none;
    color: dimgrey;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 32px;
}
.button:hover {
    background-color: #4aaaf4;
    color: white;
    box-shadow: 0 15px 20px lightgray;
}